.brown {
    background-color: sienna;
    color: white;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: lightcoral;
}

.blue {
    background-color: lightseagreen;
}

.darksalmon {
    background-color: darksalmon;
}